<header>
  <div class="container">
    <div class="logo">
      <h1>MeuProEventos</h1>
    </div>
    <nav [class.active]="isMenuActive">
      <ul>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Palestrantes</a></li>
        <li><a href="#">Contatos</a></li>
      </ul>
    </nav>
    <div class="hamburger" [class.active]="isMenuActive" (click)="toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</header>
