<h2>Eventos</h2>
<hr />
<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Pesquisa" />
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.imagemURL }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- <p><b>Tema:</b> {{ evento.tema }}</p>
  <p><b>Local:</b> {{ evento.local }}</p>
  <p><b>Data de Evento:</b> {{ evento.dataEvento }}</p>
  <p><b>Quantidade de Pessoas:</b> {{ evento.qtdPessoas }}</p>
  <p><b>Lote:</b> {{ evento.lote }}</p>
  <p><b>Imagem:</b> {{ evento.imagemURL }}</p> -->
